################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Interceptor/v15
/Interceptor/obj/Debug
/Interceptor/obj/Release
